<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552421947881-3qsnitnkms9s39jqj1cqfacehsug2rhn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552421947881-3qsnitnkms9s39jqj1cqfacehsug2rhn</string>
	<key>API_KEY</key>
	<string>AIzaSyD-BIyjrHZJ2wFF1G0ain0zbiU7RErx10A</string>
	<key>GCM_SENDER_ID</key>
	<string>552421947881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.huwy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>huwy-388614</string>
	<key>STORAGE_BUCKET</key>
	<string>huwy-388614.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552421947881:ios:52396c29772b33ce93b378</string>
</dict>
</plist>